# Specify fixed versions for spaCy and sense2vec because pretrained models are only compatible with certain versions.
spacy==2.2.3
sense2vec==1.0.2

fastapi==0.45.0
uvicorn==0.10.8
pytest>=5.3.2,<6
requests>=2.22,<3